body {
	/* width: 100%; */
	/* height: 100%; */
	margin: auto;

    display: flex;
    flex-direction: row;

    justify-content: stretch;
    
    background-color: antiquewhite;

    font-family: 'Nunito';
}

.popup-description {
    display: flex;
    flex-direction: row;

    align-items: stretch;
}

.popup-image {
    width: 64px;
    height: 64px;

    flex-grow: 0;

    background-color: red;
}

.popup-description-lines {
    padding: 10px;

    flex-grow: 1;

    display: flex;
    flex-direction: column;

    align-items: stretch;
}

.popup-description-name {
    flex-grow: 0;
    font-weight: 600;
}

.popup-description-artist {
    flex-grow: 1;
}
